.appContainer {
  /* max-width: 800px; */
  margin: 0 auto;
  margin: 2rem;
  padding: 2rem;
  background-color: #f7f9fc;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.title {
  font-weight: 700;
  font-size: 2.5rem;
  background: linear-gradient(1deg, #0f2376, rgb(79, 152, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

body {
  font-family: 'Poppins', sans-serif;
}