.inputContainer {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.input {
  flex: 1;
  padding: 0 0 0 0.6rem;
  font-size: 1rem;
  border-radius: 5px;
  margin-right: 1rem;
  margin-top: 0;
  border: 2px solid rgba(0, 0, 0, 0.302);
  color: rgba(0, 0, 0, 0.302);
}

.input:focus {
  color: rgb(35, 73, 82);
  border-color: rgba(86, 156, 194, 0.8);
  transform: translateY(-2px);
  box-shadow: 0px 0px 10px rgba(86, 156, 194, 0.8);
}

.sendButton {
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.459);
  color: rgba(0, 0, 0, 0.459);
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 520;
  position: relative;
  overflow: hidden;
  height: 3rem;
}

.sendButton:hover {
  color: rgba(86, 156, 194, 0.8);
  border-color: rgba(86, 156, 194, 0.8);
  transform: translateY(-2px);
  box-shadow: 0px 0px 10px rgba(86, 156, 194, 0.8);
}